body { font-family: Arial, sans-serif; margin: 20px; }
         h1 {
         text-align: center;
         }
         h2 {
         margin-top: 20px;
         }
         #toolbar{
            position:fixed;
            top:0px;
            left:0px;
            width:100%;
            height:50px;
            background-color: #666;
            color: white;
            z-index: 9999;
         }
         #topic{
            font-size: larger;
            text-align: center;
         }
         #intro{
            margin-top:80px;
         }
         .section {
         margin-bottom: 30px;
         }
         .section-heading {
         font-weight: bold;
         margin-bottom: 10px;
         font-family: Arial, Helvetica, sans-serif;
         }
         .prefilled-content {
         background-color: #f5f5f5;
         padding: 10px;
         }
         .guidance {
         font-style: italic;
         color: #666;
         margin-top: 5px;
         }
        
         .student-input {
         border: 1px solid #ccc;
         border-radius: 4px;
         padding: 10px;
         background-color: #f9f9f9;
         height: 300px;
         overflow-y: auto;
         border:inset 2px #333;
         border-radius: 5px;
         }
         .student-input:focus {
         outline: none;
         border-color: #007bff;
         box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
         }
         .left-panel, .right-panel{
            flex:1;
            padding:10px;
            float:left;
            overflow:auto;

            
         }
         .left-panel{
            
            background-color: rgb(250, 246, 178);
            width:600px;
            
         }
         .right-panel{
            
            background-color: rgb(255, 230, 146);
            width: calc(100vw - 700px); ;
            
         }
         .menu{
            flex:1;
            padding:10px;
            
            float:left;
            overflow:auto;
            background-color: #666;
            color:white;
            height: calc(100vh* 95 / 100);
            position: fixed;
            left: 0px;
            z-index: 999;
         }
         .menu-item{
            background: none;
            border: none;
            color: white;
        }

         